= content_for( :body_class ) { 'page' }
= content_for( :body_id ) 	 { 'home' }

#feature
	= image_tag 'demo/refuge.jpg'

#blocks
	#left.block
		%h2 Visit the Shop
	#middle.block
		%h2 Read the Story
	#right.block
		%h2 Read the News