= content_for( :body_id ) { display_case.name.parameterize }

%section#goods
	.display_case_header{ id: display_case.name.parameterize + "_header" }
		%h1= display_case.name.downcase
	
	.display_case
		- for good in goods
			%div[ good ]
				.image= link_to display_image( good.images_in_display_order.first, '182x182#' ), good
				%p.description= link_to good.name, good