= render 'display_case_head'

= content_for :javascripts do
	:coffeescript
		$ -> $( '.ad-gallery' ).adGallery({ effect: 'fade' })
			
%section#goods
	.display_case_header{ id: display_case.name.parameterize + "_header" }
		%h1= display_case.name.downcase
	
	.display_case
		.ad-gallery
			.ad-image-wrapper
			~#.ad-controls
			.ad-nav
				.ad-thumbs
					%ul.ad-thumb-list
						- for good in goods
							%li
								= link_to display_image( good.images_in_display_order.first, '100x100#', alt: good.name, longdesc: good_path( good ) ), url_for_image( good.images_in_display_order.first )