table
	width: 100%
	
	th
		font-weight: bold
		padding: 0.5em
				
	tbody
		tr:nth-child( odd )
			background-color: darken( $bg-color, 2% )
		tr:nth-child( even )
			background-color: darken( $bg-color, 5% )
		td
			padding: 0.5em
			&.links
				text-align: right
				width: 10%
				a[value=Delete]
					display: none
	
table#goods
	td.name
		width: 90%

table#pages
	td.title
		width: 90%