@import compass/typography

// ------------------------------------------------------------------
// Defaults

$base-font-size: 	 12px
$base-line-height: 16px

$default-font-family: Helvetica, Arial, sans-serif
$header-font-family:  Helvetica, Arial, sans-serif
$accent-font-family:  Helvetica, Arial, sans-serif

// ------------------------------------------------------------------
// Styling

+establish-baseline

body
	font-family: $default-font-family
	color: $default-text-color
	
	h1
		+adjust-font-size-to( 36px )
		+adjust-leading-to( 1.5 )
	
	a
		text-decoration: none
		font-weight: bold
		color: darken( $bg-color, 45% )
		&:hover
			text-decoration: underline