#sidebar
	%h3.sort-heading View by Topic
	%ul#tags
		- for tag in tags
			%li= link_to tag.name, by_tag_blog_path( tag )
			
	%h3.sort-heading View by Date
	%ul#dates
		%li= link_to '2011', by_year_blog_path( '2011' )
	
	#author
		%table
			%tbody
				%tr
					%td#image
						= image_tag 'sam.jpg'
					%td#description
						%p
							%span.name Samantha Abrams
							%br
							co-creator
							%br
							marketing guru
							%br
							enthusiast
							%br
							blogger