#blog.block
	#sam_image
		float: right
		padding: 10px
		
		p
			color: $emmys-purple
			.name
				font-weight: bold
		
		img
			+single-box-shadow
	
	.post
		padding: 10px 0 0 10px
	
		p.date, a
			color: $emmys-green
		p.title
			font-weight: bold
		a
			font-weight: bold