body.display_case 
	h1
		+adjust-font-size-to( 24px )
		+adjust-leading-to( 1 )
		border-bottom: 2px dotted $emmys-gray
		+trailer( 0.5 )
		+leader( 0.25 )

	h2
		+column( 24, true )
		+adjust-font-size-to( 36px )
		+adjust-leading-to( 1.75 )
	
		border-bottom: 1px solid $emmys-gray
	
	#goods
		+column( 20, true )
		
		.good
			+column( 20, true )
			
			.image
				+column( 5 )
				text-align: center
				
			.description
				+column( 9 )
				+leader( 2 )
				
				a
					+adjust-font-size-to( 16px )
					+adjust-leading-to( 1 )
					
					color: $emmys-purple
					font-weight: bold
					
			.quick_purchase
				+column( 6, true )
				+leader( 2 )
				
				select
					width: auto
					float: right
				#quantity
					select
						width: 50%
						+leader( 0.5 )
					label
						color: lighten( $default-text-color, 25% )
						+adjust-font-size-to( 11px )
						width: 50%
						padding-right: 2px
						+box-sizing( border-box )
						float: left
						text-align: right
						+leader( 0.5 )
					
				input[type=submit]
					float: right
					clear: both
					background: $emmys-purple
					color: $emmys-white
					border: none
					padding: 0.25em
					cursor: pointer
					+leader( 0.5 )
		
	#sidebar
		+column( 4 )
		min-height: 500px
	
		+box-sizing( border-box )
		border-right: 1px solid darken( $emmys-gray, 10% )
	
		.display_case
			background: $emmys-gray
			border-bottom: 1px solid darken( $emmys-gray, 10% )
		
			a
				padding-left: 0.5em
		
				+adjust-font-size-to( 16px )
				+adjust-leading-to( 2 )
		
				color: $emmys-purple
				text-decoration: none
		.display_case.current
			background: $emmys-white
		
		