.goods
	#main
		background: $emmys-white
	
	#sidebar
		+column( 5 )
	
	#goods_main
		+column( 19, true )
		
		#goods_middle
			+column( 14 )
		
		#goods_right
			+column( 5, true )
			
			#options
				+column( 5, true )
				
				background: $emmys-gray
				+border-radius( 10px )

				label, select
					width: 100%

.display_case
	#main
		background: $emmys-white
	#sidebar
		+column( 5 )
	#display_case_main
		+column( 19, true )
	
		.good
			+column( 19, true )
			.image
				+column( 4 )
			.description
				+column( 10 )
			.quick_purchase
				+column( 5, true )

#featured-products
	.good
		+column( 23/5 )
		&:last-child
			+column( 23/5, true )