.individual_good
	h1
		+adjust-font-size-to( 24px )
		+adjust-leading-to( 1 )
		border-bottom: 2px dotted $emmys-gray
		+trailer( 0.5 )

	h2
		+column( 24, true )
		+adjust-font-size-to( 36px )
		+adjust-leading-to( 1.75 )
	
		border-bottom: 1px solid $emmys-gray
	
	#goods_wrapper
		+column( 24, true )
	
		#sidebar
			+column( 4 )
			min-height: 500px

			+box-sizing( border-box )
			border-right: 1px solid darken( $emmys-gray, 10% )

			.display_case
				background: $emmys-gray
				border-bottom: 1px solid darken( $emmys-gray, 10% )

				a
					padding-left: 0.5em

					+adjust-font-size-to( 16px )
					+adjust-leading-to( 2 )

					color: $emmys-purple
					text-decoration: none
	
	#good
		+leader( 1 )
		+column( 14 )
		
		.featured
			+column( 14, true )
			text-align: center
		
		#additional_images
			+column( 14, true )
			+trailer( 1 )
			
			.additional_image
				+column( 14/3 )
				&:last-child
					+column( 14/3, true )
				text-align: center
		
		#information
			+column( 14, true )
			.description
				+adjust-font-size-to( 13px )
				+adjust-leading-to( 1.1 )
			
	#good_right
		+leader( 4 )
		+column( 6, true )
		
		h3
			background: darken( $emmys-gray, 45% )
			+adjust-font-size-to( 23px )
			+adjust-leading-to( 2 )
			
			font-family: $accent-font-family
			color: $emmys-white
			
			+border-top-radius( 10px )
			
			font-weight: bold
			text-align: center
			
		#purchase
			+column( 6, true )
			
			background: $emmys-gray
			+border-bottom-radius( 10px )
		
			text-align: center
		
			input[type=submit]
				background: $emmys-purple
				color: $emmys-white
				+adjust-font-size-to( 14px )
				+adjust-leading-to( 1 )
				border: 0
				padding: 0.5em
				+trailer( 0.5 )
				+border-radius( 5px )
				cursor: pointer
		
			#options, #quantity
				+column( 6, true )
				+leader( 1 )

				label
					+column( 2 )
					text-align: right
					font-weight: 400
				select
					+column( 3.5, true )
					+append( 0.5 )
					+trailer( 0.5 )
			
			#quantity
				+leader( 0.5 )
				+trailer( 0.5 )
				
			#price
				+column( 6, true )
				+leader( 0.5 )
				+trailer( 1 )
				+adjust-font-size-to( 14px )
				font-weight: bold
				&:before
					content: "Price: "