body
	#header
		background-color: $emmys-purple
		height: 40px
	
		#header-wrapper
			+container
		
			#header-left
				+column( 5 )
			
			#header-navigation
				+column( 19, true )
				text-align: right
			
				li
					border-right: 1px solid rgba( 255, 255, 255, 0.1 )
					padding: 0 10px
					line-height: 40px
					
					&:last-child
						padding: 0 0 0 10px
						border-right: none