#home.page #main
	width: 910px
	padding: 20px 25px
	
	#feature
		+column( 23, true )
		background-color: $emmys-white
		height: 290px
		+single-box-shadow
		
		img
			width: 900px
			height: 280px
			display: block
			margin: 5px auto 0
	
	#featured-products
		+column( 23, true )
		background-color: $emmys-white
		height: 380px
		margin-top: 1em
	
	// ------------------------------------------------------------------
	// Blocks
	
	.block
		margin: 1em 0
		
		h2
			+adjust-font-size-to( 13px )
			+adjust-leading-to( 1 )
			background-color: $emmys-purple
			color: $emmys-white
			font-weight: bold
			padding: 0.3em 0.5em
		
		.block-content
			background-color: white
	
	.blocks
		+column( 23/3 )
		&:last-child
			+column( 23/3, true )
	
	#left.blocks
		#connect
			.block-content
				height: 135px
				
				#signup-image
					+column( 23/3*(1/4) )
					img
						padding: 10px 10px 0
				
				#signup-text
					+column( 23/3*(3/4), true )
					color: $soft
					padding-top: 21px
					font-weight: bold
				
				form
					+column( 23/3, true )
					input[type=text]
						+adjust-font-size-to( 24px )
						width: 275px
						margin: 0 10px
						border: 1px solid darken( $emmys-gray, 25% )
					input[type=submit]
						background: $emmys-red
						color: $emmys-white
						
						border: none
						padding: 0.2em 0.3em
						margin: 2px 10px
						
						text-transform: uppercase
						font-weight: bold
						
						cursor: pointer
		
	#middle.blocks
		#blog
			.block-content
				height: 300px
				
				p
					+trailer( 0.25 )
		
		#find-a-store
			img
				display: block
				margin: 0 auto 1em
		
	#right.blocks
		#press
			.block-content
				height: 150px
				p.placeholder
					line-height: 150px
		
		#product
			.block-content
				height: 220px
				p.placeholder	
					line-height: 220px
		
		#networking
			height: 75px
			p.placeholder
				line-height: 75px
				
	
	