%div[ image_attacher.image ]
	= display_image( image_attacher.image, '130x130#' )
	#links
		= link_to 'Remove', [ :manage, @good, image_attacher ], method: :delete, confirm: "Are you sure you want to detach this image? (The image will not be deleted.)" 