- for post in posts
	%div[ post ]
		%h1= link_to post.title, path_for_post( post )
		%p.date= post.created_at.strftime( "%A, %B %d, %Y" )
		
		= truncate( strip_tags( post.html_content ), length: 250, separator: ' ' )