%div[ image ]
	= image_tag( image.image.thumb( '220x220#' ).url, :'data-original' => image.image.remote_url )
	.links
		= image.image_name + " | "
		= link_to 'Delete', [ :manage, image ], method: :delete, confirm: "Are you sure you want to delete Image: #{ image.image_name }?"