%section#sidebar
	= render 'layouts/blog/tag_navigation'
	= render 'layouts/blog/date_navigation'
	
	= link_to 'Pre-July 2011 Archive', 'http://emmysorganics.blogspot.com/'
	
	#author
		= image_tag 'sam.jpg'

		%p#description
			%span.name Samantha Abrams
			%br
			co-creator
			%br
			marketing guru
			%br
			enthusiast
			%br
			blogger