= content_for( :heading ) { 'Goods' }

%table#goods
	%thead
		%tr
			%th Name
			%th
	%tbody
		- for good in @goods
			%tr[ good ]
				%td.name= good.name
				%td.links
					= link_to 'Edit', edit_manage_good_path( good )