#good
	%h1= @good.name
	
	%ul#options
		- for option in @good.options
			%li.option= option.name
	
	%table#variants
		%thead
			%tr
				- for option in @good.options
					%th= option.name
		%tbody
			= render @good.variants