#sidebar
	- if defined?( page ) and page.page_collections.any?
		- for current_page in page.page_collections.first.pages_in_display_order
			- if request.path == url_for( current_page )
				.current[ current_page ]
					= link_to current_page.title, current_page
		
			- else
				%div[ current_page ]
					= link_to current_page.title, current_page