= content_for( :title ) { 'About Peggy Skemp' }

#about.custom_page
	%h1 about peggy
	
	#page_content
		%p#first
			I grew up in rural southeastern Minnesota and currently live and work in 
			Chicago’s Rogers Park neighborhood, at home in my menagerie of ungovernable 
			succulents, cacti, and hanging ferns. I learned metalsmithing and gemology 
			at The Gemological Institute of America (GIA) before going on to earn a BFA 
			from The School of the Art Institute of Chicago where my focus was sustainable 
			design. In between, I also studied natural science at De Paul.  
			%br
			%br
			For my information, you can read my recent interview with
			= link_to 'Mad Art Lab', 'http://madartlab.com/2011/05/10/science-cast-in-silver-peggy-skemp/', target: "_blank"
			or watch my appearance on
			= link_to "WGN's Midday Fix.", "http://www.wgntv.com/news/middaynews/middayfix/wgntv-midday-fix-artist-peggy-skemp,0,6449450.story", target: "_blank"
		%p#more_info
			for more info or to request a press kit, please email info@peggyskemp.com