= content_for( :title ) { 'Contact Peggy Skemp' }

#contact.custom_page
	%h1 contact
	
	#page_content
		%p please feel free to e-mail peggy your questions, feedback, or custom inquiries:
		%p#address=link_to 'info@peggyskemp.com', 'mailto:info@peggyskemp.com'