= content_for( :title ) { 'Policies' }

#policies.custom_page
	%h1 policies
	
	#page_content
		#philosophy
			%h2 philosophy
			%p
				I support healthy labor practices and environmental sustainability both 
				in my work and life.  The jewelry I make is entirely hand made in 
				Chicago, IL, cast and fabricated in recycled metal and meticulously hand 
				finished and polished.  Many of the works are limited edition or 
				one-of-a-kind.  All silver and gold castings are recycled metal which has 
				been assayed for purity.  The silver is .925 sterling and the carnation 
				silver is .250 silver.  I cast in jewelry-quality metal (without any heavy 
				metals or impurities.)  Any diamonds used are acquired from trusted local 
				dealers and are Kimberly Certified as being conflict free.  
			
			%p
				My goal is to ethically create beautiful, wearable heirloom pieces that 
				pose as intimate scientific illustrations and invite exploration, deeper 
				consideration, a closer look.  Thank you for your interest.  Questions and 
				feedback are welcome: 
				=link_to 'info@peggyskemp.com', 'mailto:info@peggyskemp.com'
				

		#shipping
			%h2 shipping
			%p
				Thank you for your order!  I really appreciate it.  Each piece is 
				carefully inspected and all mechanisms tested before a final polish 
				and prompt shipping.  Most non-custom items ship within 3-5 business 
				days.  I will contact you if shipment will take longer.  Please allow 
				2 weeks for custom orders unless other arrangements have been made.  
				All rings are made to order in your size, and are considered custom.  
				You will receive a confirmation email through paypal when your payment 
				has been received.  If you have placed your order and would like to pay 
				by another method please contact me to arrange payment: 
				=link_to 'info@peggyskemp.com', 'mailto:info@peggyskemp.com'
			
			%p
				I offer shipping to North America and all international locations.  
				Orders ship via USPS with delivery confirmation.  International orders 
				over $50 ship registered mail. If you would like the parcel to ship with 
				insurance or signature confirmation, please make arrangements for that 
				either before or directly after placing your order.  The customer is 
				responsible for any duties or import taxes that may be assessed on 
				international shipments.  Occasionally international customers must claim 
				their parcels at the customs or post office.  Parcels that are not claimed 
				are returned to us within 1-2 months.  Refunds will not be given for 
				shipping on returned parcels.  I do my best to post your tracking info on 
				your paypal invoice.  If you do not see your tracking info on the paypal 
				invoice and would like to check up on where it is, please 
				E-Mail info@peggyskemp.com and I will get back to you within a few days.

			%h2 returns
			%p
				Your satisfaction is my highest goal.  I carefully hand make each piece and 
				inspect it prior to shipping.  If you are not completely satisfied with your 
				purchase, please contact me within 15 days of receiving your order to arrange 
				a return.  After 15 days, your return may be denied or a 15% restocking fee 
				assessed.  Custom orders (including most rings) are not returnable.  
			%p
				You may return your non-custom item in its original condition within 15 days 
				for an exchange or full refund of the original purchase price (less shipping 
				costs.) Returned merchandise must be sent back pre-paid in its original 
				condition. If your item was received damaged let me know right away. I will 
				repair or replace the damaged piece as long as you contact me right away to 
				arrange the exchange.  Please send the item with tracking, insured for its full 
				value and carefully packaged.  I am not responsible for jewelry lost or damaged 
				in transit. I reserve the right to deny credit if the merchandise does not meet 
				these return policy requirements. 
			%p
				All items ship with delivery tracking.  If your jewelry order is being shipped 
				to a place with an unsecure mailbox and insurance or signature confirmation are 
				needed, please contact me before or right after you have placed the order to 
				arrange a shipping upgrade.  Once the parcel is verified delivered, I cannot be 
				responsible for mail theft, etc.  Refunds can only be given for items that can be 
				sent back.
			%p	
				To arrange a return, E-Mail Peggy: 
				=link_to 'info@peggyskemp.com', 'mailto:info@peggyskemp.com'