= content_for( :title ) { 'Retailers' }

#retailers.custom_page
	%h1 retailers
	
	#page_content
		.left
			= image_tag 'retailers.jpg'
			
		.right
			%h2 Retailers in the USA
			
			%table
				%tbody
					%tr
						%td.retailer
							%span.name Florodora
							%br
							%br
							%span.address1 330 South Dearborn
							%br
							%span.address2 Chicago, IL 60604
							%br
							%span.phone (312) 212-8860
						%td.retailer
							%span.name Old Hollywood
							%br
							%br
							%span.address1 110 Meserole Ave. 
							%br
							%span.address2 Brooklyn, NY‎11222 
							%br
							%span.phone (718) 389-0837
					%tr
						%td.retailer
							%span.name Satori Arts
							%br
							%br
							%span.address1 201 Pearl Street
							%br
							%span.address2 La Crosse, WI 54601 
							%br
							%span.phone (608) 785-2779
						%td.retailer
							%span.name Wink
							%br
							%br
							%span.address1 4107 24th Street 
							%br
							%span.address2 San Francisco, CA 94114 
							%br
							%span.phone (415) 401-8881
					%tr
						%td.retailer
							%span.name The Evolution Store
							%br
							%br
							%span.address1 120 Spring St.
							%br
							%span.address2 New York, NY 10012
							%br
							%span.phone (212) 343-1114
							%br
							%span.link= link_to 'http://theevolutionstore.com'
						%td.retailer
							%span.name Gold Bug
							%br
							%br
							%span.address1 22 East Union St.
							%br
							%span.address2 Pasadena, CA 91103
							%br
							%span.phone (626) 744-9963
							%br
							%span.link= link_to 'http://goldbugpasadena.com'

		%p.page_footer for wholesale inquiries, contact info@peggyskemp.com.

