#shows.custom_page
	%h1 shows
	
	#page_content
		.left
			= image_tag 'shows.jpg'
		
		.right				
			.show
				%p
					%span.title Renegade Chicago
					%span.date | Sept. 10-11

				%p
					%span.address1 Division St., Wicker Park
					%br
					%span.address2 Chicago, IL

				%p
					%span.time 11AM - 7PM