#shows.custom_page
	%h1 shows
	
	#page_content
		.left
			= image_tag 'shows.jpg'
		
		.right
			.show
				%p
					%span.title Renegade San Francisco
					%span.date | July 9-10, 2011
		
				%p
					%span.address1 Fort Mason Center Festival Pavilion
					%br
					%span.address2 San Francisco, CA
		
				%p
					%span.time 11AM - 7PM

			.show
				%p
					%span.title Renegade Los Angeles
					%span.date | July 16-17, 2011

				%p
					%span.address1 State Historic Park
					%br
					%span.address2 Los Angeles, CA

				%p
					%span.time 11AM - 7PM
	
			.show
				%p
					%span.title Florodora Trunk Show
					%span.date |

				%p
					%span.address1 348 S. Dearborn
					%br
					%span.address2 Chicago, IL

				%p
					%span.time Noon - 6PM
			
			.show
				%p
					%span.title Renegade Chicago
					%span.date | Sept. 10-11

				%p
					%span.address1 Division St., Wicker Park
					%br
					%span.address2 Chicago, IL

				%p
					%span.time 11AM - 7PM