%section#sidebar
	%h3.sort-heading View by Topic
	%ul#tags
		- for tag in tags
			%li= link_to tag.name, blog_posts_path( tagged_with: tag.name )
			
	%h3.sort-heading View by Date
	%ul#dates
		%li= link_to '2011', by_date_blog_path( year: 2011 )