//= require tokeninput/token-input-facebook

@import blueprint
@import compass/css3

@import manage/colors
@import manage/typography
@import manage/forms
@import manage/tables
@import manage/layout

a.add
	padding: 1px 0 1px 20px
	background: url( '<%= asset_path "icons/add.png" %>' ) no-repeat center left
a.attach
	padding: 1px 0 1px 20px
	background: url( '<%= asset_path "icons/attach.png" %>' ) no-repeat center left

// ------------------------------------------------------------------
// Images

#images
	.image
		+float( left )
		width: 220px
		margin-right: (70px/3)
		&:nth-child(4n+4)
			margin-right: 0
	.links
		+adjust-leading-to( 1.5 )
		text-align: center
	input[type=submit]
		float: none
		margin: 0 0 5px 75px