@import compass/typography

// ------------------------------------------------------------------
// Defaults

$base-font-size: 	 12px
$base-line-height: 16px

$default-font-family: Helvetica, Arial, sans-serif
$header-font-family:  Helvetica, Arial, sans-serif
$accent-font-family:  Arial, sans-serif

// ------------------------------------------------------------------
// Mixins

@mixin accent
	font-weight: bold
	color: $emmys-purple

@mixin accent-link
	font-weight: bold
	color: $emmys-green

// ------------------------------------------------------------------
// Styling

+establish-baseline

body
	font-family: $default-font-family
	color: $default-text-color
	
	h1, h2, h3, h4, h5
		+adjust-leading-to( 1 )
		
	h1, h2, h3, h4, h5
		font-weight: bold
	
	h1
		+adjust-font-size-to( 32px )
	h2
		+adjust-font-size-to( 24px )
	h3
		+adjust-font-size-to( 16px )
	h4
		+adjust-font-size-to( 14px )
	
	p
		+trailer( 1 )