!!!

%html
	%title 404: Not Found

	%body{ class: '404' }
		#wrapper.container		
			%p Sorry, we couldn't find that page.
			%p 
				Click 
				= link_to 'here', root_path 
				to return to the home page.