%p#session_info
	%span.version ArtisanEngine 0.1 
	- if current_engineer
		· Signed in as
		%span.name Engineer
	
	- elsif current_artisan
		· Signed in as 
		%span.name= current_artisan.first_name
		from
		%span.name= current_frame.name
	
	- else
		· Not signed in.