$emmys_purple: 			#6a2670
$emmys_gray: 				#eeeeee
$emmys_red:					#a4272c
$emmys_white:				#ffffff

$text_on_purple: 		#f0f0f0
$lighter_on_purple: #dcb2dF

$button_bg:					#af7db3
$button_text:				#e4dae5

$soft:							#424242

$default-box-shadow-blur:	  2px
$default-box-shadow-spread: false
$default-box-shadow-color:  rgba( 0, 0, 0, 0.5 )