@import compass/typography

// ------------------------------------------------------------------
// Defaults

$base-font-size: 	 12px
$base-line-height: 16px

$default-font-family: "Helvetica", Helvetica, sans-serif
$accent-font-family:  "Arial", Arial, sans-serif

$default-text-color: #323232

// ------------------------------------------------------------------
// Mixins

@mixin accent
	font-weight: bold
	color: $emmys-purple

@mixin accent-link
	font-weight: bold
	color: $emmys-green

// ------------------------------------------------------------------
// Styling

+establish-baseline

body
	font-family: $default-font-family
	color: $default-text-color
	
	h1, h2
		font-weight: bold
	
	h1
		+adjust-font-size-to( 32px )
		+adjust-leading-to( 1 )
		
	h2
		+adjust-font-size-to( 24px )
		+adjust-leading-to( 1 )

	h3
		+adjust-font-size-to( 16px )
		+adjust-leading-to( 1 )
	
	p
		+trailer( 1 )
		
	#footer
		font-family: $accent-font-family
		
		.footer-links
			+adjust-font-size-to( 13px )