section#goods
	+column( 26, true )
	
	h1, h2
		font-family: "Capitol Skyline"
		font-weight: normal
		position: absolute
		
	.display_case_header
		position: relative
	
	.display_case
		width: 630px
	
#hives
	section#goods
		height: 731px	
			
		h1
			text-indent: -9999px