#home
	+column( 26, true )
	height: 446px
	
	img
		margin-left: 258px
		margin-top: 33px

.custom_page
	+column( 26, true )
	position: relative

	h1
		font-family: "Capitol Skyline"
		font-size: 2.5em
		color: black
		font-weight: normal
		position: absolute
		letter-spacing: 7px

	#page_content
		width: 960px
		position: relative

		.left
			+float( left )
			margin-right: 15px

		.right
			+float( left )

#retailers.custom_page
	height: 834px

	h1
		top: 107px
		left: 450px
		font-size: 2.3em
	
	h2
		+trailer( 1 )

	ul
		list-style-type: none
		
	tr
		height: 120px
		
		.retailer
			+adjust-leading-to( 1.2 )
			vertical-align: top
			padding-bottom: 15px
			width: 170px

			.name
				font-weight: bold
			.phone
				color: #A09FAD
			.link
				+adjust-font-size-to( 11px )

	p.page_footer
		font-family: "Capitol Skyline"
		font-size: 23px
		position: relative
		top: 518px
		right: 393px

	#page_content
		top: 227px
		left: 115px

#shows.custom_page
	height: 834px

	h1
		top: 103px
		left: 471px
		font-size: 2.2em

	p
		margin-bottom: 5px

	.show
		margin-bottom: 10px

		.title
			font-weight: bold
		.date
			color: #A09FAD
			font-style: italic

	#page_content
		top: 270px
		left: 135px

#about
	height: 708px

	h1
		top: 35px
		left: 413px

	#page_content
		p
			position: absolute
			font-size: 15px

		#first
			top: 270px
			left: 150px
			width: 740px

		#interview
			font-family: "Capitol Skyline"
			font-size: 30px
			text-align: center
			top: 450px
			left: 345px

		#more_info
			font-family: "Capitol Skyline"
			font-size: 30px
			left: 270px
			top: 639px

#contact
	height: 600px

	h1
		top: 38px
		left: 450px
		@include rotate( 2deg )

	#page_content
		font-family: "Capitol Skyline"
		font-size: 24px
		text-align: center
		top: 250px
		left: 35px

		#address
			font-size: 30px

#policies
	height: 1800px
	p
		font-size: 13px

	h1
		top: 63px
		left: 455px

	h2
		font-family: "Capitol Skyline"
		text-align: center
		font-size: 30px
		margin-left: -38px
		color: black
		font-weight: normal

	#page_content
		top: 200px

		#philosophy
			width: 590px
			margin: 0 auto
			padding: 26px 0 0 100px

		#shipping	
			width: 540px
			margin: 0 auto
			position: absolute
			top: 506px
			left: 260px

#more
	height: 1198px

#past_work_galleries_custom_page
	+column( 26, true )
	+leader( 1 )
	+trailer( 2 )
	
	h1
		text-align: center
		font-weight: normal
		font-family: "Capitol Skyline"
		+adjust-font-size-to( 36px )
		
	h2
		text-align: center
		font-weight: normal
		font-family: "Capitol Skyline"
		+adjust-font-size-to( 36px )
	
	.gallery
		+column( 26/3 )
		&:last-child
			+column( 26/3, true )
		
		img
			+opacity( 0.8 )
			&:hover
				+opacity( 1 )