- featured_size 	||= '470x470#'
- additional_size ||= '130x85#'
- cropping				||= :primary

.featured
	= link_to display_image( good_images.first, featured_size, cropping: cropping ), url_for_image( good_images.first )

#additional_images
	- for image in good_images.drop( 1 )
		.additional_image
			= link_to display_image( image, additional_size ), url_for_image( image )