- featured_size 	||= '470x470#'
- additional_size ||= '130x85#'

.featured
	= link_to display_image( good.images.first, featured_size ), url_for_image( good.images.first )

.additional
	- for image in good.images.drop( 1 )
		= link_to display_image( image, additional_size ), image.image.remote_url