- featured_size 	||= '470x470#'
- additional_size ||= '130x85#'

.featured
	= link_to display_image( good_images.first, featured_size ), url_for_image( good_images.first )

.additional
	- for image in good_images.drop( 1 )
		= link_to display_image( image, additional_size ), url_for_image( image )