- set_title "#{ display_case.name }"
- add_body_class 'collection'
- add_body_id		 display_case.name.parameterize

%h1= display_case.name

%section#goods
	- for good in display_case.goods
		%div[ good ]
			.image= link_to display_image( good.images.first, '182x182#' ), good
			%p.description= link_to good.name, good